# Project exclude paths
/cloud-eureka-server7001/target/
/cloud-eureka-server7002/target/
/cloud-api-common/target/
/cloud-order80/target/
/cloud-payment8001/target/
/cloud-payment8002/target/
/cloud-zk-order80/target/
/cloud-zk-payment8004/target/